@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&display=swap');

//font-family: 'Lato', sans-serif;
//font-family: 'Crimson Pro', serif;

:root {
    --heading: 32px;
    --text1: 10px;
    --text2: 16px;
    --text3: 12px;
}

//Colors
:root {
    --blue: #271A45;
    --bg: #D9CDF7;
    --white: #fff;
}